<div class="wrapper">
  <div class="footer_info">
    <div class="command_name">
      {% if page.url == '/'%}
      <a href="{{ site.baseurl }}/imprint.html"
        >{{ site.data.titleLink.imprint }}</a
      >
      {% else %}
      <a href="{{ site.baseurl }}/"> {{ site.data.titleLink.siteLink }}</a>
      {% endif %}
    </div>
    <div class="soc_link">
      <ul>
        {% for link in site.data.social %}
        <li>
          <a href="{{ link.link }}" target="_blank"
            ><img
              src="{{site.baseurl}}/assets/img/{{ link.image }}"
              alt="{{link.title}}"
          /></a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
