$bg__color: #408647;
$bg__color_fb: #1877f2;
$bg__color_tw: #1da1f2;
$bg__color_inst: #f00073;

$main__color_text: #363c31;
$timer__color_text: #408647;
$link__color_hover: #408647;

$border__color_line: #363c31;
